@model IEnumerable<Studentscreeningsystem.Models.USER>
@{
    ViewBag.Title = "Inactive";
}
@Html.Action("Create", "MouvementUsers", new { userid = Session["User_Id"], link = "عرض قائمة المستخدمين غير المفعلين" })
<link href="~/Content/custumbutton.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="panel-heading">تفعيل المستخدمين</div>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="panel" id="divUsers">




    <div class="row justify-content-md-center">

        <div class="col-md-12 ">
            @(Html
                            .Grid(Model)
                            .Build(columns =>
                                {
                                    columns.Add(model => model.Username).Titled("اسم المستخدم").Filterable(true);
                                    columns.Add(model => model.Firstname).Titled("الإسم").Filterable(true);
                                    columns.Add(model => model.Lastname).Titled("اللقب").Filterable(true);
                                    columns.Add(model => model.Title).Titled("المسمى الوظيفي").Filterable(true);

                                //عمليات البرنامج
                                columns.Add().Encoded(false).RenderedAs(model => Html.ActionLink(" ", "UserActive", new { id = model.User_Id }, new { @class = "faicone fa fa-reply-all", title = "تفعيل المستخدم" }));
                                    columns.Add().Encoded(false).RenderedAs(model => Html.ActionLink(" ", "UserDelete", "Admin", new { id = model.User_Id }, new { @class = "faicone fa fa-trash-o", title = "حذف المستخدم" }));
                                    columns.Add().Encoded(false).RenderedAs(model => Html.ActionLink(" ", "UserDetails", new { id = model.User_Id }, new { @class = "faicone fa fa-plus", title = "تفاصيل المستخدم" }));
                                })
                        .Empty("لم يتم العثور على مستخدمين")
                            .Css("css-classes") // Overwrites all classes with the new ones
                            .AppendCss("table-hover")
                        .Pageable(pager =>
                        {
                            pager.PageSizes = new Dictionary<Int32, String> { { 0, "الكل" }, { 5, "5" }, { 10, "10" } };
                            pager.ShowPageSizes = true;
                            pager.PagesToDisplay = 3;
                            pager.CurrentPage = 1;
                            pager.RowsPerPage = 5;
                        })
            )


        </div>
    </div>
</div>
<br />
@Html.ActionLink("قائمة المستخدمين المفعلين", "Index", "Admin")

