USE [master]
GO
/****** Object:  Database [GraduatedistributionBD4]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE DATABASE [GraduatedistributionBD4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GraduatedistributionBD4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GraduatedistributionBD4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GraduatedistributionBD4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GraduatedistributionBD4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GraduatedistributionBD4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GraduatedistributionBD4]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT AUTHORITY\NETWORK SERVICE]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE USER [admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[alldegreeGraduateVM]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alldegreeGraduateVM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdGraduate] [int] NOT NULL,
	[Firstname] [nvarchar](max) NULL,
	[Lastname] [nvarchar](max) NULL,
	[NumGraduate] [bigint] NOT NULL,
	[IdentityGraduate] [bigint] NOT NULL,
	[lenght] [int] NOT NULL,
	[weight] [int] NOT NULL,
	[AverageGraduate] [real] NOT NULL,
 CONSTRAINT [PK_dbo.alldegreeGraduateVM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DegreeGraduate]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DegreeGraduate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[percentage] [int] NOT NULL,
	[IdRequirement] [int] NOT NULL,
	[User_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DegreeGraduate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailsLeadershipVM]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailsLeadershipVM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdLeadership] [int] NOT NULL,
	[NameLeadership] [nvarchar](max) NULL,
	[IsChecked] [bit] NOT NULL,
	[alldegreeGraduateVM_Id] [int] NULL,
 CONSTRAINT [PK_dbo.DetailsLeadershipVM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailsRequirementVM]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailsRequirementVM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRequirement] [int] NOT NULL,
	[NameRequirement] [nvarchar](max) NULL,
	[percentage] [int] NOT NULL,
	[alldegreeGraduateVM_Id] [int] NULL,
	[alldegreeGraduateVM_Id1] [int] NULL,
	[alldegreeGraduateVM_Id2] [int] NULL,
	[alldegreeGraduateVM_Id3] [int] NULL,
 CONSTRAINT [PK_dbo.DetailsRequirementVM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GraduateWishes]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GraduateWishes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[IdSector] [int] NOT NULL,
	[Rank] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GraduateWishes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeadershipGraduate]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeadershipGraduate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsChecked] [bit] NOT NULL,
	[IdLeadership] [int] NOT NULL,
	[User_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LeadershipGraduate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leadershiprequirement]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leadershiprequirement](
	[IdLeadership] [int] IDENTITY(1,1) NOT NULL,
	[NameLeadership] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Leadershiprequirement] PRIMARY KEY CLUSTERED 
(
	[IdLeadership] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeadershipSector]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeadershipSector](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsChecked] [bit] NOT NULL,
	[IdLeadership] [int] NOT NULL,
	[IdSector] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LeadershipSector] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LNK_ROLE_PERMISSION]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LNK_ROLE_PERMISSION](
	[Permission_Id] [int] NOT NULL,
	[Role_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LNK_ROLE_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[Permission_Id] ASC,
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LNK_USER_ROLE]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LNK_USER_ROLE](
	[Role_Id] [int] NOT NULL,
	[User_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LNK_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC,
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MouvementUsers]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MouvementUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Link] [nvarchar](max) NULL,
	[DateMouvement] [datetime] NULL,
 CONSTRAINT [PK_dbo.MouvementUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSIONS]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSIONS](
	[Permission_Id] [int] IDENTITY(1,1) NOT NULL,
	[PermissionDescription] [nvarchar](50) NOT NULL,
	[PermissionName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PERMISSIONS] PRIMARY KEY CLUSTERED 
(
	[Permission_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requirement]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requirement](
	[IdRequirement] [int] IDENTITY(1,1) NOT NULL,
	[NameRequirement] [nvarchar](max) NULL,
	[Categorie] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Requirement] PRIMARY KEY CLUSTERED 
(
	[IdRequirement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequirementSector]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequirementSector](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[percentage] [int] NOT NULL,
	[IdRequirement] [int] NOT NULL,
	[IdSector] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RequirementSector] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[Role_Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[RoleDescription] [nvarchar](max) NULL,
	[IsSysAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ROLES] PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sector]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sector](
	[IdSector] [int] IDENTITY(1,1) NOT NULL,
	[NameSector] [nvarchar](max) NOT NULL,
	[NbGraduates] [int] NOT NULL,
	[LogoPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sector] PRIMARY KEY CLUSTERED 
(
	[IdSector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specification]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specification](
	[IdSpecification] [int] IDENTITY(1,1) NOT NULL,
	[Maxlenght] [int] NOT NULL,
	[Minlenght] [int] NOT NULL,
	[Maxweight] [int] NOT NULL,
	[Minweight] [int] NOT NULL,
	[IdSector] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Specification] PRIMARY KEY CLUSTERED 
(
	[IdSpecification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecificationGraduate]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationGraduate](
	[IdSpecification] [int] IDENTITY(1,1) NOT NULL,
	[Length] [int] NOT NULL,
	[Weight] [int] NOT NULL,
	[AverageGraduate] [real] NOT NULL,
	[User_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SpecificationGraduate] PRIMARY KEY CLUSTERED 
(
	[IdSpecification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/29/2020 8:42:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](10) NOT NULL,
	[LastModified] [datetime] NULL,
	[Inactive] [bit] NULL,
	[Firstname] [nvarchar](50) NULL,
	[Lastname] [nvarchar](50) NULL,
	[Title] [nvarchar](30) NULL,
	[Insortable] [bit] NULL,
	[Passeword] [nvarchar](max) NOT NULL,
	[Comfirmepasseword] [nvarchar](max) NULL,
	[IdSector] [int] NULL,
	[RapportGraduate_Id] [int] NULL,
 CONSTRAINT [PK_dbo.USERS] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[alldegreeGraduateVM] ON 

INSERT [dbo].[alldegreeGraduateVM] ([Id], [IdGraduate], [Firstname], [Lastname], [NumGraduate], [IdentityGraduate], [lenght], [weight], [AverageGraduate]) VALUES (1, 0, NULL, NULL, 0, 0, 0, 0, 0)
INSERT [dbo].[alldegreeGraduateVM] ([Id], [IdGraduate], [Firstname], [Lastname], [NumGraduate], [IdentityGraduate], [lenght], [weight], [AverageGraduate]) VALUES (2, 0, NULL, NULL, 0, 0, 0, 0, 0)
INSERT [dbo].[alldegreeGraduateVM] ([Id], [IdGraduate], [Firstname], [Lastname], [NumGraduate], [IdentityGraduate], [lenght], [weight], [AverageGraduate]) VALUES (3, 0, NULL, NULL, 0, 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[alldegreeGraduateVM] OFF
SET IDENTITY_INSERT [dbo].[Leadershiprequirement] ON 

INSERT [dbo].[Leadershiprequirement] ([IdLeadership], [NameLeadership]) VALUES (1, N'الحصول على دورة صاعقة')
INSERT [dbo].[Leadershiprequirement] ([IdLeadership], [NameLeadership]) VALUES (2, N'الحصول على دورة مظلات')
INSERT [dbo].[Leadershiprequirement] ([IdLeadership], [NameLeadership]) VALUES (3, N'الحصول على تدريب جبلي')
SET IDENTITY_INSERT [dbo].[Leadershiprequirement] OFF
SET IDENTITY_INSERT [dbo].[LeadershipSector] ON 

INSERT [dbo].[LeadershipSector] ([Id], [IsChecked], [IdLeadership], [IdSector]) VALUES (1, 1, 1, 2)
INSERT [dbo].[LeadershipSector] ([Id], [IsChecked], [IdLeadership], [IdSector]) VALUES (2, 1, 2, 2)
INSERT [dbo].[LeadershipSector] ([Id], [IsChecked], [IdLeadership], [IdSector]) VALUES (3, 0, 3, 2)
SET IDENTITY_INSERT [dbo].[LeadershipSector] OFF
INSERT [dbo].[LNK_ROLE_PERMISSION] ([Permission_Id], [Role_Id]) VALUES (2, 1)
INSERT [dbo].[LNK_ROLE_PERMISSION] ([Permission_Id], [Role_Id]) VALUES (3, 1)
INSERT [dbo].[LNK_ROLE_PERMISSION] ([Permission_Id], [Role_Id]) VALUES (4, 1)
GO
INSERT [dbo].[LNK_USER_ROLE] ([Role_Id], [User_Id]) VALUES (1, 1)
INSERT [dbo].[LNK_USER_ROLE] ([Role_Id], [User_Id]) VALUES (3, 1)
SET IDENTITY_INSERT [dbo].[MouvementUsers] ON 

INSERT [dbo].[MouvementUsers] ([Id], [User_Id], [Link], [DateMouvement]) VALUES (1, 1, N'عرض قائمة الخريجين ', CAST(N'2019-12-05T13:47:10.843' AS DateTime))
INSERT [dbo].[MouvementUsers] ([Id], [User_Id], [Link], [DateMouvement]) VALUES (2, 1, N'عرض قائمة الخريجين ', CAST(N'2019-12-05T13:47:21.360' AS DateTime))
INSERT [dbo].[MouvementUsers] ([Id], [User_Id], [Link], [DateMouvement]) VALUES (3, 1, N'عرض قائمة الخريجين ', CAST(N'2019-12-05T13:47:36.067' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[MouvementUsers] OFF
SET IDENTITY_INSERT [dbo].[PERMISSIONS] ON 

INSERT [dbo].[PERMISSIONS] ([Permission_Id], [PermissionDescription], [PermissionName]) VALUES (2, N'Admin-UserCreate', N'إضافة مستخدم جديد للنظام')
INSERT [dbo].[PERMISSIONS] ([Permission_Id], [PermissionDescription], [PermissionName]) VALUES (3, N'Admin-UserDetails', N'عرض تفاصيل المستخدمين للنظام')
INSERT [dbo].[PERMISSIONS] ([Permission_Id], [PermissionDescription], [PermissionName]) VALUES (4, N'Admin-UserEdit', N'تعديل بيانات مستخدمي النظام')
GO
SET IDENTITY_INSERT [dbo].[PERMISSIONS] OFF
SET IDENTITY_INSERT [dbo].[Requirement] ON 

INSERT [dbo].[Requirement] ([IdRequirement], [NameRequirement], [Categorie]) VALUES (1, N'الرياضيات', 0)
INSERT [dbo].[Requirement] ([IdRequirement], [NameRequirement], [Categorie]) VALUES (2, N'الفيزياء', 0)
INSERT [dbo].[Requirement] ([IdRequirement], [NameRequirement], [Categorie]) VALUES (3, N'لغة انجليزية', 0)
SET IDENTITY_INSERT [dbo].[Requirement] OFF
SET IDENTITY_INSERT [dbo].[RequirementSector] ON 

INSERT [dbo].[RequirementSector] ([Id], [percentage], [IdRequirement], [IdSector]) VALUES (411, 70, 6, 1)
INSERT [dbo].[RequirementSector] ([Id], [percentage], [IdRequirement], [IdSector]) VALUES (412, 70, 7, 1)
INSERT [dbo].[RequirementSector] ([Id], [percentage], [IdRequirement], [IdSector]) VALUES (413, 70, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[RequirementSector] OFF
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([Role_Id], [RoleName], [RoleDescription], [IsSysAdmin]) VALUES (1, N'مشرف النظام', N'لديه جميع الصلاحيات على النظام', 1)
INSERT [dbo].[ROLES] ([Role_Id], [RoleName], [RoleDescription], [IsSysAdmin]) VALUES (2, N'مدخل بيانات', N'إدخال بيانات الأسلحة، المتطلبات و الخريجين', 0)
INSERT [dbo].[ROLES] ([Role_Id], [RoleName], [RoleDescription], [IsSysAdmin]) VALUES (3, N'خريج', N'يقوم الخريج بترتيب الاسلحة حسب رغبته', 0)
SET IDENTITY_INSERT [dbo].[ROLES] OFF
SET IDENTITY_INSERT [dbo].[Sector] ON 

INSERT [dbo].[Sector] ([IdSector], [NameSector], [NbGraduates], [LogoPath]) VALUES (1, N'المشاة', 50, N'المهندسين.png')
INSERT [dbo].[Sector] ([IdSector], [NameSector], [NbGraduates], [LogoPath]) VALUES (2, N'المدرعات', 5, N'شعار%20سلاح%20المدرعات.png')
INSERT [dbo].[Sector] ([IdSector], [NameSector], [NbGraduates], [LogoPath]) VALUES (6, N'المهندسين', 5, N'المهندسين.png')
SET IDENTITY_INSERT [dbo].[Sector] OFF
SET IDENTITY_INSERT [dbo].[Specification] ON 

INSERT [dbo].[Specification] ([IdSpecification], [Maxlenght], [Minlenght], [Maxweight], [Minweight], [IdSector]) VALUES (6, 180, 150, 90, 40, 1)
INSERT [dbo].[Specification] ([IdSpecification], [Maxlenght], [Minlenght], [Maxweight], [Minweight], [IdSector]) VALUES (7, 180, 150, 90, 40, 2)
INSERT [dbo].[Specification] ([IdSpecification], [Maxlenght], [Minlenght], [Maxweight], [Minweight], [IdSector]) VALUES (8, 180, 150, 90, 40, 6)
SET IDENTITY_INSERT [dbo].[Specification] OFF
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([User_Id], [Username], [LastModified], [Inactive], [Firstname], [Lastname], [Title], [Insortable], [Passeword], [Comfirmepasseword], [IdSector], [RapportGraduate_Id]) VALUES (1, N'0000000000', CAST(N'2019-08-27T09:32:18.453' AS DateTime), 0, N'حسام', N'بن صالحة', N'إداري', 1, N'00000000', N'00000000', NULL, NULL)
INSERT [dbo].[USERS] ([User_Id], [Username], [LastModified], [Inactive], [Firstname], [Lastname], [Title], [Insortable], [Passeword], [Comfirmepasseword], [IdSector], [RapportGraduate_Id]) VALUES (28, N'1000000001', CAST(N'2019-11-20T00:54:20.000' AS DateTime), 0, N'سلطان', N'اللغبي', N'إداري', 1, N'123', N'123', NULL, NULL)
INSERT [dbo].[USERS] ([User_Id], [Username], [LastModified], [Inactive], [Firstname], [Lastname], [Title], [Insortable], [Passeword], [Comfirmepasseword], [IdSector], [RapportGraduate_Id]) VALUES (250, N'1100000001', NULL, NULL, N'test5', N'test5', N'خريج', NULL, N'1100000001', N'1100000001', NULL, 212)
SET IDENTITY_INSERT [dbo].[USERS] OFF
/****** Object:  Index [IX_IdRequirement]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_IdRequirement] ON [dbo].[DegreeGraduate]
(
	[IdRequirement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[DegreeGraduate]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_alldegreeGraduateVM_Id]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_alldegreeGraduateVM_Id] ON [dbo].[DetailsLeadershipVM]
(
	[alldegreeGraduateVM_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_alldegreeGraduateVM_Id]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_alldegreeGraduateVM_Id] ON [dbo].[DetailsRequirementVM]
(
	[alldegreeGraduateVM_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_alldegreeGraduateVM_Id1]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_alldegreeGraduateVM_Id1] ON [dbo].[DetailsRequirementVM]
(
	[alldegreeGraduateVM_Id1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_alldegreeGraduateVM_Id2]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_alldegreeGraduateVM_Id2] ON [dbo].[DetailsRequirementVM]
(
	[alldegreeGraduateVM_Id2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_alldegreeGraduateVM_Id3]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_alldegreeGraduateVM_Id3] ON [dbo].[DetailsRequirementVM]
(
	[alldegreeGraduateVM_Id3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdSector]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_IdSector] ON [dbo].[GraduateWishes]
(
	[IdSector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[GraduateWishes]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdLeadership]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_IdLeadership] ON [dbo].[LeadershipGraduate]
(
	[IdLeadership] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[LeadershipGraduate]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdLeadership]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_IdLeadership] ON [dbo].[LeadershipSector]
(
	[IdLeadership] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdSector]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_IdSector] ON [dbo].[LeadershipSector]
(
	[IdSector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Permission_Id]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_Permission_Id] ON [dbo].[LNK_ROLE_PERMISSION]
(
	[Permission_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Role_Id]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_Role_Id] ON [dbo].[LNK_ROLE_PERMISSION]
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Role_Id]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_Role_Id] ON [dbo].[LNK_USER_ROLE]
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[LNK_USER_ROLE]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[MouvementUsers]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdRequirement]    Script Date: 12/29/2020 8:42:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_IdRequirement] ON [dbo].[RequirementSector]
(
	[IdRequirement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdSector]    Script Date: 12/29/2020 8:42:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_IdSector] ON [dbo].[RequirementSector]
(
	[IdSector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdSector]    Script Date: 12/29/2020 8:42:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_IdSector] ON [dbo].[Specification]
(
	[IdSector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 12/29/2020 8:42:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[SpecificationGraduate]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdSector]    Script Date: 12/29/2020 8:42:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_IdSector] ON [dbo].[USERS]
(
	[IdSector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RapportGraduate_Id]    Script Date: 12/29/2020 8:42:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_RapportGraduate_Id] ON [dbo].[USERS]
(
	[RapportGraduate_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DegreeGraduate]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DegreeGraduate_dbo.Requirement_IdRequirement] FOREIGN KEY([IdRequirement])
REFERENCES [dbo].[Requirement] ([IdRequirement])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DegreeGraduate] CHECK CONSTRAINT [FK_dbo.DegreeGraduate_dbo.Requirement_IdRequirement]
GO
ALTER TABLE [dbo].[DegreeGraduate]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DegreeGraduate_dbo.USERS_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[USERS] ([User_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DegreeGraduate] CHECK CONSTRAINT [FK_dbo.DegreeGraduate_dbo.USERS_User_Id]
GO
ALTER TABLE [dbo].[DetailsLeadershipVM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetailsLeadershipVM_dbo.alldegreeGraduateVM_alldegreeGraduateVM_Id] FOREIGN KEY([alldegreeGraduateVM_Id])
REFERENCES [dbo].[alldegreeGraduateVM] ([Id])
GO
ALTER TABLE [dbo].[DetailsLeadershipVM] CHECK CONSTRAINT [FK_dbo.DetailsLeadershipVM_dbo.alldegreeGraduateVM_alldegreeGraduateVM_Id]
GO
ALTER TABLE [dbo].[DetailsRequirementVM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetailsRequirementVM_dbo.alldegreeGraduateVM_alldegreeGraduateVM_Id] FOREIGN KEY([alldegreeGraduateVM_Id])
REFERENCES [dbo].[alldegreeGraduateVM] ([Id])
GO
ALTER TABLE [dbo].[DetailsRequirementVM] CHECK CONSTRAINT [FK_dbo.DetailsRequirementVM_dbo.alldegreeGraduateVM_alldegreeGraduateVM_Id]
GO
ALTER TABLE [dbo].[DetailsRequirementVM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetailsRequirementVM_dbo.alldegreeGraduateVM_alldegreeGraduateVM_Id1] FOREIGN KEY([alldegreeGraduateVM_Id1])
REFERENCES [dbo].[alldegreeGraduateVM] ([Id])
GO
ALTER TABLE [dbo].[DetailsRequirementVM] CHECK CONSTRAINT [FK_dbo.DetailsRequirementVM_dbo.alldegreeGraduateVM_alldegreeGraduateVM_Id1]
GO
ALTER TABLE [dbo].[DetailsRequirementVM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetailsRequirementVM_dbo.alldegreeGraduateVM_alldegreeGraduateVM_Id2] FOREIGN KEY([alldegreeGraduateVM_Id2])
REFERENCES [dbo].[alldegreeGraduateVM] ([Id])
GO
ALTER TABLE [dbo].[DetailsRequirementVM] CHECK CONSTRAINT [FK_dbo.DetailsRequirementVM_dbo.alldegreeGraduateVM_alldegreeGraduateVM_Id2]
GO
ALTER TABLE [dbo].[DetailsRequirementVM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetailsRequirementVM_dbo.alldegreeGraduateVM_alldegreeGraduateVM_Id3] FOREIGN KEY([alldegreeGraduateVM_Id3])
REFERENCES [dbo].[alldegreeGraduateVM] ([Id])
GO
ALTER TABLE [dbo].[DetailsRequirementVM] CHECK CONSTRAINT [FK_dbo.DetailsRequirementVM_dbo.alldegreeGraduateVM_alldegreeGraduateVM_Id3]
GO
ALTER TABLE [dbo].[GraduateWishes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GraduateWishes_dbo.USERS_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[USERS] ([User_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GraduateWishes] CHECK CONSTRAINT [FK_dbo.GraduateWishes_dbo.USERS_User_Id]
GO
ALTER TABLE [dbo].[LeadershipGraduate]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LeadershipGraduate_dbo.Leadershiprequirement_IdLeadership] FOREIGN KEY([IdLeadership])
REFERENCES [dbo].[Leadershiprequirement] ([IdLeadership])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeadershipGraduate] CHECK CONSTRAINT [FK_dbo.LeadershipGraduate_dbo.Leadershiprequirement_IdLeadership]
GO
ALTER TABLE [dbo].[LeadershipGraduate]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LeadershipGraduate_dbo.USERS_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[USERS] ([User_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeadershipGraduate] CHECK CONSTRAINT [FK_dbo.LeadershipGraduate_dbo.USERS_User_Id]
GO
ALTER TABLE [dbo].[LeadershipSector]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LeadershipSector_dbo.Leadershiprequirement_IdLeadership] FOREIGN KEY([IdLeadership])
REFERENCES [dbo].[Leadershiprequirement] ([IdLeadership])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeadershipSector] CHECK CONSTRAINT [FK_dbo.LeadershipSector_dbo.Leadershiprequirement_IdLeadership]
GO
ALTER TABLE [dbo].[LNK_ROLE_PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LNK_ROLE_PERMISSION_dbo.PERMISSIONS_Permission_Id] FOREIGN KEY([Permission_Id])
REFERENCES [dbo].[PERMISSIONS] ([Permission_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LNK_ROLE_PERMISSION] CHECK CONSTRAINT [FK_dbo.LNK_ROLE_PERMISSION_dbo.PERMISSIONS_Permission_Id]
GO
ALTER TABLE [dbo].[LNK_ROLE_PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LNK_ROLE_PERMISSION_dbo.ROLES_Role_Id] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[ROLES] ([Role_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LNK_ROLE_PERMISSION] CHECK CONSTRAINT [FK_dbo.LNK_ROLE_PERMISSION_dbo.ROLES_Role_Id]
GO
ALTER TABLE [dbo].[LNK_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LNK_USER_ROLE_dbo.ROLES_Role_Id] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[ROLES] ([Role_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LNK_USER_ROLE] CHECK CONSTRAINT [FK_dbo.LNK_USER_ROLE_dbo.ROLES_Role_Id]
GO
ALTER TABLE [dbo].[LNK_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LNK_USER_ROLE_dbo.USERS_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[USERS] ([User_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LNK_USER_ROLE] CHECK CONSTRAINT [FK_dbo.LNK_USER_ROLE_dbo.USERS_User_Id]
GO
ALTER TABLE [dbo].[MouvementUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MouvementUsers_dbo.USERS_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[USERS] ([User_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MouvementUsers] CHECK CONSTRAINT [FK_dbo.MouvementUsers_dbo.USERS_User_Id]
GO
ALTER TABLE [dbo].[RequirementSector]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RequirementSector_dbo.Requirement_IdRequirement] FOREIGN KEY([IdRequirement])
REFERENCES [dbo].[Requirement] ([IdRequirement])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequirementSector] CHECK CONSTRAINT [FK_dbo.RequirementSector_dbo.Requirement_IdRequirement]
GO
ALTER TABLE [dbo].[SpecificationGraduate]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpecificationGraduate_dbo.USERS_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[USERS] ([User_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpecificationGraduate] CHECK CONSTRAINT [FK_dbo.SpecificationGraduate_dbo.USERS_User_Id]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.USERS_dbo.alldegreeGraduateVM_RapportGraduate_Id] FOREIGN KEY([RapportGraduate_Id])
REFERENCES [dbo].[alldegreeGraduateVM] ([Id])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_dbo.USERS_dbo.alldegreeGraduateVM_RapportGraduate_Id]
GO
USE [master]
GO
